body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../../image/fundo_inicial.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container {
    max-width: 950px;
    margin: 30px auto;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #5a1f8c;
}

.voltar {
    background: #5a1f8c;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.card {
    background: rgba(55, 25, 50, 0.86);
    border: 3px solid white;
    border-radius: 25px;
    padding: 35px;
    color: white;
}

.card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.formulario {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 15px;
    background: #5a1f8c;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #7a33b8;
}

.historico {
    margin-top: 30px;
}

.cliente-item {
    background: rgba(255,255,255,0.12);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}
.acoes-topo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao-pesquisar {
    background: #6b21a8;
    color: white;
    text-decoration: none;
    padding: 11px 18px;
    border-radius: 9px;
    font-weight: bold;
}

.botao-pesquisar:hover {
    background: #8a2be2;
}

@media (max-width: 700px) {
    .acoes-topo {
        flex-direction: column;
        width: 100%;
    }

    .botao-pesquisar,
    .voltar {
        width: 100%;
        text-align: center;
    }
}